# Python
__pycache__/
*.py[co]
*.egg*

# Editor temp files
*~

# Ignore dot files except those required for the project
.*
!.gitignore
!.gitkeep
!.nvmrc
!.yvmrc

# Development artefacts
dev-docker-compose.yml
ssh-config
htmlcov/
*.log
*.sqlite3

# Frontend build
node_modules
static/dist/*

# Sphinx docs
build/

# Uploaded files
media/

# Whitenoise's collected static
static_root/
