#
# Project requirements
#

# Core Django and deployment
django>=3.2,<4.0
django-configurations
django-clear-cache
django-redis
envdir
gunicorn
hiredis
psycopg2-binary
sentry_sdk
whitenoise

# General Django apps
django-extensions
django-filter
django-model-utils

# Project specific
beautifulsoup4
boto3==1.17.61
celery
django-simple-history
django-storages
lxml
markdown==3.3.4
notifications-python-client
python-dateutil
requests
html2markdown
bleach
bleach_whitelist
django-auth-adfs
