#
# Development requirements
#
-r requirements.in

# Dev tools
ipython
ipdb
pip-tools
django-debug-toolbar

# Testing
django-webtest
doc8
model-bakery
pytest==6.2.3
pytest-cov
pytest-django
pytest-isort
pytest-flake8==1.0.7
freezegun

# Documentation
sphinx==3.5.4
sphinx_rtd_theme

# Deployment
fabric
invoke
