# Framework
Django==5.2.12
django-configurations==2.5.1

# Django apps
django-auth-adfs==1.16.0
django-extensions==4.1
django-filter==25.1
django-model-utils==5.0.0
django-ratelimit==4.1.0
django-redis==5.4.0
django-simple-history==3.11.0
django-storages[s3]==1.14.6

# Server
gunicorn==23.0.0
whitenoise==6.12.0

# Database
psycopg2-binary==2.9.9
hiredis==3.1.0

# Task queue
celery>=5.3

# Auth
Authlib==1.6.9

# Monitoring
sentry-sdk==2.54.0

# Config
envdir==1.0.1

# HTML/Markup
beautifulsoup4==4.11.1
bleach==4.1.0
bleach-whitelist==0.0.11
markdown==3.10.2

# Notifications
notifications-python-client==10.0.1

# Virus scanning
clamd==1.0.2
