{% extends "base.html" %}

{% block content %}
    <form method="post" action="{% url 'login' %}">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-body">
                    <h2 class="govuk-heading-m">
                        Development login (to be replaced).
                    </h2>
                    {% if form.errors %}
                        <p>Your username and password didn't match. Please try again.</p>
                    {% endif %}

                    {% if next %}
                        {% if user.is_authenticated %}
                            <p>
                                Your account doesn't have access to this page. To proceed,
                                please login with an account that has access.
                            </p>
                        {% else %}
                            <p>Please login to see this page.</p>
                        {% endif %}
                    {% endif %}

                    {% csrf_token %}
                    {{ form }}
                </div>
            </div>
        </div>
        <input type="submit" value="Login" class="govuk-button">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
{% endblock %}