@use "govuk-frontend/dist/govuk/helpers/media-queries"; //added disted here
@use "govuk-frontend/dist/govuk" as govuk;

.title-with-button {
  .govuk-grid-column-three-quarters,
  .govuk-grid-column-one-quarters {
    padding: 0;
  }

  .button-container {
    text-align: left;

    @include govuk.govuk-media-query($from: tablet) {
      text-align: right;
    }
  }
}
