{% extends "base.html" %}
{% load i18n %}

{% block back %}
    {% url "policy:list" as back_url %}
    {% trans "Back to conditions" as back_title %}
    {% include 'widgets/back_link.html' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                {% block title %}{{ policy.name }}{% endblock %}
            </h1>

            <h2 class="govuk-heading-m">
              {% trans 'Current recommendation' %}
            </h2>

            <p class="govuk-body">{{ policy.recommendation_display }}</p>

            <div class="govuk-panel govuk-panel--confirmation">
                <div class="govuk-panel__body">This recommendation has been archived.</div>
            </div>
        </div>
    </div>
{% endblock %}
