{% extends "base.html" %}
{% load i18n %}

{% block back %}
    {% if preview %}
        <a href="" class="govuk-back-link" onclick="document.forms['form-id'].submit(); return false">
        {% trans 'Back to edit recommendation' %}
        </a>
    {% else %}
        {% url "policy:archive:upload" policy.slug as back_url %}
        {% trans "Back to recommendation" as back_title %}
        {% include 'widgets/back_link.html' %}
    {% endif %}
{% endblock %}

{% block content %}
    <form method="post" id="form-id">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-m">
                Archive recommendation
            </span>
                <h1 class="govuk-heading-l">
                    {% block title %}{{ policy.name }}{% endblock %}
                </h1>
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% if form.errors %}
                    {% include "widgets/error_summary.html" %}
                {% endif %}

                {% with policy=form.instance %}
                    {% if preview %}
                        {% include "policy/admin/archive/reason.html" %}
                        {{ form.archived_reason.as_hidden }}
                    {% else %}
                        {% include "widgets/text_area.html" with field=form.archived_reason show_legend=True %}
                    {% endif %}
                {% endwith %}

                {% if preview %}
                    <button type="submit" class="govuk-button" name="publish" value="publish" style="float: right">
                        {% trans 'Archive' %}
                    </button>
                {% else %}
                    <button type="submit" class="govuk-button" name="preview" value="preview" style="float: right">
                        {% trans 'Preview' %}
                    </button>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}
