{% load i18n %}
{% url "cookies" as cookies_url %}
<div id="cookie-banner" class="govuk-cookie-banner" role="region" aria-label="{% trans "Cookies on UK National Screening Committee" %}">

  <div class="govuk-cookie-banner__message govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-cookie-banner__heading govuk-heading-m">{% trans "Cookies on UK National Screening Committee" %}</h2>
      </div>
    </div>
  </div>

  <div class="govuk-cookie-banner__message govuk-width-container no-js-required">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-cookie-banner__content">
          <p class="govuk-body">
            {% blocktrans %}
            We use cookies to make this service work and collect analytics information. To accept or reject cookies,
            turn on JavaScript in your browser settings or reload this page.
            {% endblocktrans %}
          </p>
        </div>
      </div>
    </div>
  </div>

  <form id="cookie-banner-form" class="js-required">
    <div id="cookie-banner-question" class="govuk-cookie-banner__message govuk-width-container" hidden>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-cookie-banner__content">
            <p class="govuk-body">{% blocktrans %}We use some essential cookies to make this service work.{% endblocktrans %}</p>
            <p class="govuk-body">{% blocktrans %}We’d also like to use analytics cookies so we can understand how you use the service and make improvements.{% endblocktrans %}</p>
          </div>
        </div>
      </div>

      <div class="govuk-button-group">
        <button value="accept" name="cookies" class="govuk-button" data-module="govuk-button">
          {% trans "Accept analytics cookies" %}
        </button>
        <button value="reject" name="cookies" class="govuk-button" data-module="govuk-button">
          {% trans "Reject analytics cookies" %}
        </button>
        <a class="govuk-link" href="{{ cookies_url }}">{% trans "View cookies" %}</a>
      </div>
    </div>

    <div id="cookie-banner-answered" class="govuk-cookie-banner__message govuk-width-container" hidden>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div id="cookie-banner-accepted-message" class="govuk-cookie-banner__content" hidden>
            <p>{% blocktrans %}You’ve accepted analytics cookies. You can <a class="govuk-link" href="{{ cookies_url }}">change your cookie settings</a> at any time.{% endblocktrans %}</p>
          </div>

          <div id="cookie-banner-rejected-message" class="govuk-cookie-banner__content" hidden>
            <p>{% blocktrans %}You’ve rejected analytics cookies. You can <a class="govuk-link" href="{{ cookies_url }}">change your cookie settings</a> at any time.{% endblocktrans %}</p>
          </div>
        </div>
      </div>

      <div class="govuk-button-group">
        <button value="hide" name="cookies" class="govuk-button" data-module="govuk-button">
          {% trans "Hide this message" %}
        </button>
      </div>
    </div>
  </form>
</div>