{% load i18n %}

<div class="govuk-form-group{% if field.errors or day.errors or month.errors or year.errors %} govuk-form-group--error{% endif %}">

  <fieldset class="govuk-fieldset"
            role="group"
            aria-describedby="{% if field.help_text %}{{ field.name }}-hint {% endif %}{% if field.errors %}{{ field.name }}-error {% endif %} ">

    {% include "widgets/field_legend.html" %}
    {% include "widgets/field_help.html" %}

    {% include "widgets/field_errors.html" %}
    {% if day %}
    {% include "widgets/field_errors.html" with field=day %}
    {% endif %}
    {% if month %}
    {% include "widgets/field_errors.html" with field=month %}
    {% endif %}
    {% if year %}
    {% include "widgets/field_errors.html" with field=year %}
    {% endif %}

    <div class="govuk-date-input" id="{{ field.id_for_label}}">
      {% if day %}
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="{{ day.id_for_label }}">
            {{ day.label }}
          </label>

          {% with field=day widget=day.field.widget %}
            <input
              type="text"
              pattern="[0-9]*"
              inputmode="numeric"
              name="{{ field.name }}"
              class="govuk-input govuk-input--width-2 {% if field.errors %} govuk-input--error{% endif %}{% if width %} govuk-input--width-{{ width }}{% endif %}"
              id="{{ field.id_for_label }}"
              {% if field.value != None %}
                value="{{ field.value|stringformat:'s' }}"
              {% endif %}
              {% if field.help_text or field.errors %}
                aria-describedby="{% if field.help_text %}{{ field.id_for_label }}-hint {% endif %}{% if field.errors %}{{ field.id_for_label }}-error{% endif %}"
              {% endif %}
              {% include "widgets/field_attrs.html" %}
            >
          {% endwith %}

        </div>
      </div>
      {% endif %}
      {% if month %}
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="{{ month.id_for_label }}">
            {{ month.label }}
          </label>

          {% with field=month widget=month.field.widget %}
            <input
              type="text"
              pattern="[0-9]*"
              inputmode="numeric"
              name="{{ field.name }}"
              class="govuk-input govuk-input--width-2 {% if field.errors %} govuk-input--error{% endif %}{% if width %} govuk-input--width-{{ width }}{% endif %}"
              id="{{ field.id_for_label }}"
              {% if field.value != None %}
                value="{{ field.value|stringformat:'s' }}"
              {% endif %}
              {% if field.help_text or field.errors %}
                aria-describedby="{% if field.help_text %}{{ field.id_for_label }}-hint {% endif %}{% if field.errors %}{{ field.id_for_label }}-error{% endif %}"
              {% endif %}
              {% include "widgets/field_attrs.html" %}
            >
          {% endwith %}

        </div>
      </div>
      {% endif %}
      {% if year %}
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="{{ year.id_for_label }}">
            {{ year.label }}
          </label>

          {% with field=year widget=year.field.widget %}
            <input
              type="text"
              pattern="[0-9]*"
              inputmode="numeric"
              name="{{ field.name }}"
              class="govuk-input govuk-input--width-4 {% if field.errors %} govuk-input--error{% endif %}{% if width %} govuk-input--width-{{ width }}{% endif %}"
              id="{{ field.id_for_label }}"
              {% if field.value != None %}
                value="{{ field.value|stringformat:'s' }}"
              {% endif %}
              {% if field.help_text or field.errors %}
                aria-describedby="{% if field.help_text %}{{ field.id_for_label }}-hint {% endif %}{% if field.errors %}{{ field.id_for_label }}-error{% endif %}"
              {% endif %}
              {% include "widgets/field_attrs.html" %}
            >
          {% endwith %}

        </div>
      </div>
      {% endif %}
    </div>
  </fieldset>
</div>
