<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    {% trans 'There is a problem' %}
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      {% for key, errors in form.errors.items %}
        {% for error in errors %}
          <li><a href="#id_{{ key }}">{{ error }}</a></li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
</div>
