{% load i18n %}

<div class="govuk-form-group {% if field.errors %}govuk-form-group--error{% endif %}">

  {% if show_legend %}
    {% include "widgets/field_legend.html" %}
  {% else %}
    {% include "widgets/field_label.html" %}
  {% endif %}

  {% include "widgets/field_help.html" %}
  {% include "widgets/field_errors.html" %}

  {% with widget=field.field.widget %}
    <input
      type="text"
      name="{{ field.name }}"
      class="govuk-input{% if field.errors %} govuk-input--error{% endif %}{% if width %} govuk-input--width-{{ width }}{% endif %}"
      id="{{ field.id_for_label }}"
      {% if field.value != None %}
        value="{{ field.value|stringformat:'s' }}"
      {% endif %}
      {% if field.help_text or field.errors %}
        aria-describedby="{% if field.help_text %}{{ field.id_for_label }}-hint {% endif %}{% if field.errors %}{{ field.id_for_label }}-error{% endif %}"
      {% endif %}
      {% include "widgets/field_attrs.html" %}
    >
  {% endwith %}

</div>
