{% load i18n %}

{% if word_limit %}
  <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="{{ word_limit }}">
{% endif %}

<div class="govuk-form-group {% if field.errors %}govuk-form-group--error{% endif %}">

  {% if show_legend %}
    {% include "widgets/field_legend.html" %}
  {% else %}
    {% include "widgets/field_label.html" %}
  {% endif %}

  {% include "widgets/field_help.html" %}
  {% include "widgets/field_errors.html" %}

  {% with widget=field.field.widget %}
    <textarea name="{{ field.name }}"
              class="govuk-textarea{% if word_limit %} govuk-js-character-count{% endif %}{% if field.errors %} govuk-textarea--error{% endif %}"
              id="{{ field.id_for_label }}"
              {% if field.help_text or field.errors %}
                aria-describedby="{% if field.help_text %}{{ field.id_for_label }}-hint {% endif %}{% if field.errors %}{{ field.id_for_label }}-error{% endif %}"
              {% endif %}
              {% include "widgets/field_attrs.html" %}>{% if field.value %}{{ field.value }}{% elif field.field.initial %}{{ field.field.initial }}{% endif %}</textarea>
  {% endwith %}

  {% if word_limit %}
    <span id="{{ field.id_for_label }}-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
      {% blocktrans %}
      You have {{ word_limit }} words remaining.
      {% endblocktrans %}
    </span>
  {% endif %}

</div>

{% if word_limit %}
  </div>
{% endif %}
