# For more information on configuration, see:
#   * Official English Documentation: http://nginx.org/en/docs/
#   * Official Russian Documentation: http://nginx.org/ru/docs/

worker_processes  1;

error_log  /dev/stderr;

pid        /tmp/nginx.pid;


events {
    worker_connections  1024;
}


http {
    server_tokens off;

    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /dev/stdout  main;

    sendfile        on;

    keepalive_timeout  65;

    server {
        listen       8080;

        location / {
            limit_except GET {deny  all;}
            proxy_http_version     1.1;
            proxy_set_header       Connection "";
            proxy_set_header       Authorization '';
            proxy_set_header       Host ${BUCKET_HOST};
            proxy_hide_header      x-amz-id-2;
            proxy_hide_header      x-amz-request-id;
            proxy_hide_header      x-amz-meta-server-side-encryption;
            proxy_hide_header      x-amz-server-side-encryption;
            proxy_hide_header      Set-Cookie;
            proxy_ignore_headers   Set-Cookie;
            proxy_intercept_errors on;
            add_header             Cache-Control max-age=31536000;
            proxy_pass             http://${BUCKET_HOST}/;
            error_page 404 403 500 502 503 504 =404        /not-found.html;
        }

        location = /not-found.html {
            root   /opt/app-root/src;
        }
    }
}
