{% extends "base.html" %}
{% load i18n %}

{% block back %}
  {% blocktrans asvar back_title with object.name as name %}
    Back to {{ name }}
  {% endblocktrans %}
  {% url 'review:detail' object.slug as back_url %}
  {% include 'widgets/back_link.html' %}
{% endblock %}

{% block title %}
  {% block page_title %}
    {% trans "Upload plain English summary" %}
  {% endblock %}
{% endblock %}

{% block content %}

  <form method="post">
    {% csrf_token %}

    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    {% if form.errors %}
      {% include "widgets/error_summary.html" %}
    {% endif %}

    {{ form.formset.management_form }}

    {% for formset_form in form.formset %}
      <fieldset class="govuk-fieldset" data-nsc-formset-form="{{ formset_form.prefix }}">
        {{ formset_form.non_field_errors }}

        {% for field in formset_form %}
          {% if field.is_hidden %}
            {{ field }}
          {% else %}
            <div class="govuk-form-group {% if field.errors %}govuk-form-group--error{% endif %}">
              {% include "widgets/text_area.html" with show_legend=True %}
            </div>
          {% endif %}
        {% endfor %}
      </fieldset>
    {% endfor %}

    <button type="submit" class="govuk-button" name="submit" value="submit">
      {% trans 'Save and continue' %}
    </button>
  </form>

  {% include "widgets/markdown_guide.html" %}

{% endblock %}
