{% extends "narrow.html" %}
{% load i18n %}

{% block back %}
  {% url "dashboard" as back_url %}
  {% trans 'Back to your products in progress' as back_title %}
  {% include 'widgets/back_link.html' %}
{% endblock %}

{% block title %}
  {{ review.name }}
{% endblock %}

{% block heading %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{ review.name }}
      </h1>
    </div>
    <div class="govuk-grid-column-one-third">
        <strong class="govuk-tag">{{ review.status_display }}</strong>
    </div>
  </div>
{% endblock %}

{% block content %}

  <ul class="app-task-list govuk-body">
    <li>
      <h2 class="app-task-list__section">
        Consultation
      </h2>
      <ul class="app-task-list__items">
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="{% url 'review:add-external-review' review.slug %}" aria-describedby="external_review_added">
              {% trans 'Upload consultation documents' %}
            </a>
          </span>
          {% if review.has_evidence_review %}
            <strong class="govuk-tag app-task-list__task-completed" id="external_review_added">{% trans 'COMPLETED' %}</strong>
          {% endif %}
        </li>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="{% url 'review:stakeholders' object.slug %}" aria-describedby="stakeholders-notified">
              {% trans 'Confirm stakeholders to be notified' %}
            </a>
          {% if review.has_notified_stakeholders %}
            <strong class="govuk-tag app-task-list__task-completed" id="stakeholders_notified">{% trans 'COMPLETED' %}</strong>
          {% endif %}
          </span>
        </li>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="{% url 'review:add-submission-form' review.slug %}" aria-describedby="upload-submission-form">
              {% trans "Upload response form for consultation" %}
            </a>
          </span>
          {% if review.has_submission_form %}
            <strong class="govuk-tag app-task-list__task-completed" id="upload-submission-form">{% trans 'COMPLETED' %}</strong>
          {% endif %}
        </li>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="{% url 'review:dates' object.slug %}" aria-describedby="consultation_dates_set">
              {% trans "Confirm dates of consultation" %}
            </a>
          </span>
          {% if review.has_consultation_dates_set and review.has_nsc_meeting_date_set %}
            <strong class="govuk-tag app-task-list__task-completed" id="consultation_dates_set">{% trans 'COMPLETED' %}</strong>
          {% endif %}
        </li>
      </ul>
    </li>
    <li>
      <h2 class="app-task-list__section">
        {% trans "Post-consultation" %}
      </h2>
      <ul class="app-task-list__items">
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="{% url 'review:add-review-documents' review.slug %}" aria-describedby="review_documents_added">
              {% trans "Upload supporting documents" %}
            </a>
          </span>
          {% if review.has_evidence_review and review.has_cover_sheet %}
            <strong class="govuk-tag app-task-list__task-completed" id="review_documents_added">{% trans 'COMPLETED' %}</strong>
          {% endif %}
        </li>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="{% url 'review:summary' review.slug %}" aria-describedby="summary_added">
              {% trans "Upload plain English summary" %}
            </a>
          </span>
          {% if review.has_summary %}
            <strong class="govuk-tag app-task-list__task-completed" id="summary_added">{% trans 'COMPLETED' %}</strong>
          {% endif %}
        </li>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="{% url 'review:history' review.slug %}" aria-describedby="product_history_added">
              {% trans "Upload product history" %}
            </a>
          </span>
          {% if review.has_history %}
            <strong class="govuk-tag app-task-list__task-completed" id="product_history_added">{% trans 'COMPLETED' %}</strong>
          {% endif %}
        </li>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="{% url 'review:recommendation' object.slug %}" aria-describedby="recommendation_submitted">
              {% trans "Submit recommendation" %}
            </a>
          </span>
          {% if review.has_recommendation %}
            <strong class="govuk-tag app-task-list__task-completed" id="recommendation_submitted">{% trans 'COMPLETED' %}</strong>
          {% endif %}
        </li>
      </ul>
    </li>
  </ul>

  <div class="link-menu">
    <a href="{% url 'review:delete' review.slug %}" class="govuk-button govuk-button--warning">
      {% trans "Delete review" %}
    </a>
  </div>

{% endblock %}
