{% extends "base.html" %}
{% load i18n %}

{% block back %}
  {% blocktrans asvar back_title with object.name as name %}
    Back to {{ name }}
  {% endblocktrans %}
  {% url 'review:detail' object.slug as back_url %}
  {% include 'widgets/back_link.html' %}
{% endblock %}

{% block title %}
  {% trans "Upload product history" %}
{% endblock %}

{% block content %}

  <form method="post">
    {% csrf_token %}

    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    {% if form.errors %}
      {% include "widgets/error_summary.html" %}
    {% endif %}

    {% include "widgets/text_area.html" with field=form.background show_legend=True %}

    <button type="submit" class="govuk-button" name="submit" value="submit">
      {% trans 'Save and continue' %}
    </button>
  </form>

  {% include "widgets/markdown_guide.html" %}

{% endblock %}
