{% extends "narrow.html" %}
{% load i18n %}

{% block back %}
  {% url 'review:recommendation' object.slug as back_url %}
  {% include 'widgets/back_link.html' %}
{% endblock %}

{% block title %}
  {% block page_title %}
    {% blocktrans %}
    Confirm you want to submit the recommendation decision as {{decision}}?
    {% endblocktrans %}
  {% endblock %}
{% endblock %}

{% block content %}

  <form method="post">
    {% csrf_token %}

    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    {% if form.errors %}
      {% include "widgets/error_summary.html" %}
    {% endif %}

    {% include "widgets/radio_buttons.html" with field=form.published show_legend=False size='m' inline=True %}

    <button type="submit" class="govuk-button" name="submit" value="submit">
      {% trans 'Continue and set recommendation decision' %}
    </button>
  </form>

{% endblock %}
