{% extends "narrow.html" %}
{% load i18n %}

{% block back %}
  {% url "home" as back_url %}
  {% include 'widgets/back_link.html' %}
{% endblock %}

{% block title %}
  {{ review.name }}
{% endblock %}

{% block page_title %}
  {{ review.name }} <strong class="govuk-tag app-task-list__task-completed">{% trans 'IN REVIEW' %}</strong>
{% endblock %}

{% block content %}

  <ul class="app-task-list govuk-body">
    <li>
      <h2 class="app-task-list__section">
        Consultation
      </h2>
      <ul class="app-task-list__items">
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="{% url 'review:add-policy-document' review.slug %}" aria-describedby="relevent_documents_added">
              Add relevant documents
            </a>
          </span>
          {% if review.relevent_documents_added %}
            <strong class="govuk-tag app-task-list__task-completed" id="relevent_documents_added">{% trans 'COMPLETED' %}</strong>
          {% endif %}
        </li>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="{% url 'review:add-review-document' review.slug %}" aria-describedby="external_review_added">
              Upload external review document
            </a>
          </span>
          {% if review.external_review_added %}
            <strong class="govuk-tag app-task-list__task-completed" id="external_review_added">{% trans 'COMPLETED' %}</strong>
          {% endif %}
        </li>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="{% url 'review:dates' object.slug %}" aria-describedby="consultation_dates_set">
              Confirm dates of consultation
            </a>
          </span>
          {% if review.consultation_dates_set %}
            <strong class="govuk-tag app-task-list__task-completed" id="consultation_dates_set">{% trans 'COMPLETED' %}</strong>
          {% endif %}
        </li>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="{% url 'review:organisations' object.slug %}" aria-describedby="stakeholders-notified">
              Confirm stakeholders to be notified
            </a>
          {% if review.stakeholders_notified %}
            <strong class="govuk-tag app-task-list__task-completed" id="stakeholders_notified">{% trans 'COMPLETED' %}</strong>
          {% endif %}
          </span>
        </li>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="{% url 'review:consultation' object.slug %}" aria-describedby="consultation-opened">
              Open consultation
            </a>
          </span>
          {% if review.consultation_opened %}
            <strong class="govuk-tag app-task-list__task-completed" id="consultation_opened">{% trans 'COMPLETED' %}</strong>
          {% endif %}
        </li>
      </ul>
    </li>
    <li>
      <h2 class="app-task-list__section">
        Post-consultation
      </h2>
      <ul class="app-task-list__items">
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="{% url 'review:recommendation' object.slug %}" aria-describedby="recommendation-set">
              Documents and recommendation
            </a>
          </span>
          {% if review.recomendation_set %}
            <strong class="govuk-tag app-task-list__task-completed" id="recommendation-set">{% trans 'COMPLETED' %}</strong>
          {% endif %}
        </li>
      </ul>
    </li>
  </ul>

  <div class="link-menu">
    <a href="{% url 'review:cancel' review.slug %}" class="govuk-link">
      Cancel review
    </a>
  </div>

{% endblock %}
