{% extends "narrow.html" %}
{% load i18n %}

{% block title_spacer %}{% endblock %}

{% block title %}
  {% trans "Evidence admin and reporting system" %}
{% endblock %}

{% block heading %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        {% trans 'UK NSC evidence admin and reporting system' %}
      </h1>
    </div>
  </div>
{% endblock %}

{% block content %}
  <p class="govuk-body">
  {% blocktrans %}
  This platform is to update stakeholders and members of the public on conditions
  that are being revised by the UK NSC. All changes made will be reflected on the
  <a href="https://www.gov.uk/government/groups/uk-national-screening-committee-uk-nsc">
    UK NSC public website
  </a>.
  {% endblocktrans %}
  </p>

  <h2 class="govuk-heading-m">
    {% trans 'Your products in progress' %}
  </h2>

  <table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">{% trans 'Name' %}</th>
      <th class="govuk-table__header">{% trans 'Conditions' %}</th>
      <th class="govuk-table__header">{% trans 'Product type' %}</th>
      <th class="govuk-table__header">{% trans 'Status' %}</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    {% for review in reviews %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <a href="{{ review.get_absolute_url }}">
            {{ review.name }}
          </a>
        </td>
        <td class="govuk-table__cell">
          <ul class="conditions-list">
            {% for policy in review.policies.all %}
              <li>{{ policy.name }}</li>
            {% endfor %}
          </ul>
        </td>
        <td class="govuk-table__cell">{{ review.get_review_type_display }}</td>
        <td class="govuk-table__cell">{{ review.status_display }}</td>
      </tr>
      {% empty %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" colspan="4"><p>{% trans 'There are no current reviews.' %}</p></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <p class="govuk-body">
    <a href="{% url 'review:list' %}">
      {% trans 'View the whole team\'s products in progress.' %}
    </a>
  </p>

  <h2 class="govuk-heading-m">
    {% trans 'Conditions' %}
  </h2>

  <div class="link-menu govuk-body">
    {% url 'policy:list' as url %}
    {% blocktrans %}
      <a href="{{ url}}" class="govuk-link">
        View all conditions
      </a>
      to start a new product or edit general information about a condition.
    {% endblocktrans %}
  </div>

  <h2 class="govuk-heading-m">
    {% trans 'Stakeholders' %}
  </h2>

  <div class="link-menu govuk-body">
    {% url 'stakeholder:list' as url %}
    {% blocktrans %}
      <a href="{{ url }}" class="govuk-link">
        View stakeholder contacts
      </a>
      to add and edit stakeholders.
    {% endblocktrans %}
  </div>

{% endblock content %}
