{% extends "base.html" %}
{% load i18n %}

{% block back %}
  {% trans "Back to policy" as back_title %}
  {% url 'review:list' as back_url %}
  {% include 'widgets/back_link.html' %}
{% endblock %}

{% block title %}
  {% block page_title %}
    Create a new review
  {% endblock %}
{% endblock %}

{% block content %}

  <form method="post">
    {% csrf_token %}

    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    {% if form.errors %}
      {% include "widgets/error_summary.html" %}
    {% endif %}

    {% include "widgets/checkboxes.html" with field=form.policies size='m' %}
    {% include "widgets/text_input.html" with field=form.name show_legend=True %}
    {% include "widgets/radio_buttons.html" with field=form.review_type size='m' %}

    <p class="govuk-body">
      By submitting this, the public will be able to see that this condition is in review.
    </p>

    <button type="submit" class="govuk-button" name="save" value="save">
      {% trans 'Save and continue' %}
    </button>

  </form>

{% endblock %}

