.title-field,
.first-name-field,
.last-name-field {
  box-sizing: border-box;
  width: 100%;
  padding: 0 $govuk-gutter-half;
}

.title-field {
  @include govuk-media-query($from: tablet) {
    width: 20%;
    float: left;
  }
}

.first-name-field,
.last-name-field {
  @include govuk-media-query($from: tablet) {
    width: 40%;
    float: left;
  }
}