.subscription-management .policy-table {
  thead tr,
  tbody tr {
    display: table;
    width: 100%;
    vertical-align: center;
  }

  tbody {
    max-height: 30em;
    overflow-y: scroll;
    display: block;
  }

  tr td:last-child,
  tr th:last-child {
    text-align: right;
    padding-right: 8px;
  }
}
