{% load i18n %}

{% if not policy.archived %}
    <h2 class="govuk-heading-m">
      {% trans 'More about' %} {{ policy.name }}
    </h2>
{% endif %}

{% if policy.condition_html %}
  <p class="govuk-body">
    {{ policy.condition_html|safe }}
  </p>
{% else %}
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
      {% trans 'There is no description of this condition.' %}
    </strong>
  </div>
{% endif %}
