{% load i18n %}

<h2 class="govuk-heading-m">
  {% trans 'Supporting documents for download' %}
</h2>

{% with review=policy.latest_review %}
  {% if review %}
    <div class="govuk-body">
      <span class="govuk-caption-m">
        {% blocktrans with name=review.name %}
          Documents from {{ name }}
        {% endblocktrans %}
      </span>
    </div>

    <ul class="govuk-list govuk-list--bullet">
      {% if review.evidence_review %}
        <li>
          <a class="govuk-link" target="_blank" href="{{ review.evidence_review.upload.url }}">{{ review.evidence_review.name }}</a>
        </li>
      {% endif %}
      {% if review.cover_sheet %}
        <li>
          <a class="govuk-link" target="_blank" href="{{ review.cover_sheet.upload.url }}">{{ review.cover_sheet.name }}</a>
        </li>
      {% endif %}
    </ul>
      {% if review.other_review_documents %}
          <p class="govuk-body">Other supporting documents</p>
        <ul class="govuk-list govuk-list--bullet">
        {% for document in review.other_review_documents %}
          <li>
            <a class="govuk-link" target="_blank" href="{{ document.upload.url }}">{{ document.name }}</a>
          </li>
        {% endfor %}
        </ul>
      {% endif %}

    {% if form %}
        <div class="govuk-body">
            <a class="govuk-link"
               href="{% url 'review:add-review-documents' review.slug %}?next={% url 'policy:edit' policy.slug %}">
                Update review documents
            </a>
        </div>
    {% endif %}
  {% else %}
    <p class="govuk-body">
      {% trans 'There are no review downloads at this time' %}
    </p>
  {% endif %}
{% endwith %}
