{% load i18n %}

<h2 class="govuk-heading-m">
  {% trans 'Search keywords' %}
</h2>

{% if policy.keywords %}
  <p class="govuk-body">
    {{ policy.keywords }}
  </p>
{% else %}
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
      {% trans 'There are no keywords defined for this condition.' %}
    </strong>
  </div>
{% endif %}
