{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {{ form.instance.name }}
{% endblock %}

{% block main  %}
<div class="govuk-width-container ">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <form method="post" id="form-id">

      {% block messages %}
        {% if messages %}
        <ul class="nsc-alerts">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      {% endblock %}

      {% block back %}
        {% if preview %}
          <a href="" class="govuk-back-link" onclick="document.forms['form-id'].submit(); return false">
            {% trans 'Back to edit condition' %}
          </a>
        {% else %}
          {% trans "Back to condition" as back_title %}
          {% include 'widgets/back_link.html' with back_url=object.get_admin_url %}
        {% endif %}
      {% endblock %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          {% if preview %}
            <span class="govuk-caption-l">{% trans 'Preview condition' %}</span>
            <h1 class="govuk-heading-l">
              {{ policy.name }}
            </h1>
          {% else %}
            <span class="govuk-caption-l">{% trans 'Edit condition' %}</span>
            <h1 class="govuk-heading-l">
              {{ form.instance.name }}
            </h1>
          {% endif %}

          {% csrf_token %}

          {% for hidden in form.hidden_fields %}
            {{ hidden }}
          {% endfor %}

          {% if form.errors %}
            {% include "widgets/error_summary.html" %}
          {% endif %}

          {% with policy=form.instance %}
            {% if preview %}
              {% include "policy/admin/recommendation.html" %}
              {% include "policy/admin/last_review.html" %}
              {% include "policy/admin/next_review.html" %}
              {% include "policy/admin/documents.html" %}
              {% include "policy/admin/condition_type.html" %}
              {% include "policy/admin/summary.html" %}
              {% include "policy/admin/condition.html" %}
              {% include "policy/admin/review_history.html" %}
              {% include "policy/admin/stakeholders.html" %}
              {{ form.next_review.as_hidden }}
              {{ form.condition_type.as_hidden }}
              {{ form.ages.as_hidden }}
              {{ form.summary.as_hidden }}
              {{ form.condition.as_hidden }}
              {{ form.keywords.as_hidden }}
              {{ form.background.as_hidden }}
            {% else %}
              {% include "policy/admin/recommendation.html" %}
              {% include "policy/admin/last_review.html" %}
              {% include "widgets/text_input.html" with field=form.next_review show_legend=True width=4 %}
              {% include "widgets/radio_buttons.html" with field=form.condition_type show_legend=True width=4 %}
              {% include "widgets/checkboxes.html" with field=form.ages show_legend=True %}
              {% include "policy/admin/documents.html" %}
              {% include "widgets/text_area.html" with field=form.summary show_legend=True word_limit=500 %}
              {% include "widgets/text_area.html" with field=form.condition show_legend=True word_limit=1000 %}
              {% include "widgets/text_area.html" with field=form.keywords show_legend=True word_limit=100 %}
              {% include "widgets/text_area.html" with field=form.background show_legend=True word_limit=1000 %}
              {% include 'policy/admin/stakeholders.html' %}
            {% endif %}
          {% endwith %}
        </div>

        <div class="govuk-grid-column-one-third govuk-!-padding-top-3">
          {% if preview %}
              <button type="submit" class="govuk-button" name="publish" value="publish" style="float: right">
                {% trans 'Publish' %}
              </button>
          {% else %}
            <button type="submit" class="govuk-button" name="preview" value="preview" style="float: right">
              {% trans 'Save and preview' %}
            </button>
          {% endif %}
        </div>
      </div>
    </form>
  </main>
</div>
{% endblock %}
