{% extends "base.html" %}
{% load i18n %}

{% block back %}
  {% url 'dashboard' as back_url %}
  {% include 'widgets/back_link.html' %}
{% endblock %}

{% block heading %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {% block title %}
          {% trans 'All conditions' %}
        {% endblock %}
      </h1>
    </div>
    <div class="govuk-grid-column-one-third">
      <a id="create-review-link-id" href="{% url 'review:add' %}" role="button" class="govuk-button" style="float: right">
        {% trans 'Create a new product' %}
      </a>
      <a id="create-review-link-id" href="{% url 'policy:add:start' %}" role="button" class="govuk-button" style="float: right">
        {% trans 'Create a new condition' %}
      </a>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="filter-box">
        <form>

          <h2 class="govuk-heading-m">
            {% trans 'Filter conditions by:' %}
          </h2>

          {% include 'widgets/text_input.html' with field=form.name show_legend=True %}
          {% include 'widgets/radio_buttons.html' with field=form.review_status show_legend=True %}
          {% include 'widgets/radio_buttons.html' with field=form.recommendation show_legend=True %}
          {% include 'widgets/checkbox.html' with field=form.archived show_legend=True %}

          <button type="submit" class="govuk-button search-b-button govuk-!-margin-right-8">
            {% trans 'Search' %}
          </button>

          <a href="{% url 'policy:list' %}"
             class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">
              {% trans 'Clear search' %}
          </a>

        </form>
      </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">{% trans 'Condition' %}</th>
          <th class="govuk-table__header">{% trans 'Who it affects' %}</th>
          <th class="govuk-table__header">{% trans 'Recommended' %}</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        {% for object in object_list %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a
                href="{{ object.get_admin_url }}">{{ object.name }}</a></td>
            <td class="govuk-table__cell">{{ object.ages_display }}</td>
            <td class="govuk-table__cell">{{ object.recommendation_display }}</td>
          </tr>
          {% empty %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" colspan="4"><p>{%  trans 'No matching conditions found.' %}</p></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% if is_paginated %}
        {% include 'widgets/pagination.html' with namespace='condition:list' %}
      {% endif %}
    </div>

  </div>

{% endblock %}
