{% load i18n %}

<h2 class="govuk-heading-m">
  {% trans 'Stakeholders consulted for this condition' %}
</h2>

<ul class="govuk-list">
  {% for stakeholder in policy.stakeholders.all %}
    <li>
      <a class="govuk-link" href="{{ stakeholder.url }}">{{ stakeholder.name }}</a>
      {% if not stakeholder.is_public %}(not public){% endif %}
    </li>
  {% empty %}
    <li>
      {% trans 'There are no stakeholders at this time' %}
    </li>
  {% endfor %}
</ul>

{% if form %}
    <a class="govuk-link" href="{% url "stakeholder:add" %}">Add a stakeholder to notify.</a>
{% endif %}
