{% extends "narrow.html" %}
{% load i18n %}

{% block title %}{% block page_title %}{% trans "Beta Feedback" %}{% endblock %}{% endblock %}

{% block content %}
  <p class="govuk-body">
    {% blocktrans %}
      Contact us if you have feedback, a question or a suggestion about the UK National Screening Committee website.
    {% endblocktrans %}
  </p>

  <h2 class="govuk-heading-m">{% trans "Feedback Form" %}</h2>

  <p class="govuk-body">
    {% blocktrans %}
      Complete the
      <a href="https://forms.office.com/r/HNPq9d8WM1" target="_blank">feedback form (opens in a new tab)</a> - you can
      do this anonymously if you do not need a response.
    {% endblocktrans %}
  </p>

  <h2 class="govuk-heading-m">{% trans "Email" %}</h2>

  <p class="govuk-body">
    {% blocktrans %}
      Email us at:
      <a href="mailto:PHE.screeninghelpdesk@nhs.net?subject=Beta%20Feedback">PHE.screeninghelpdesk@nhs.net</a>.
    {% endblocktrans %}
  </p>
{% endblock %}
