{% extends "narrow.html" %}
{% load i18n %}

{% block title %}{% block page_title %}{% trans "Beta Feedback" %}{% endblock %}{% endblock %}

{% block content %}
  <p class="govuk-body">
    {% blocktrans %}
      Contact us if you have feedback, a question or a suggestion about the UK National Screening Committee website.
    {% endblocktrans %}
  </p>

  <h2 class="govuk-heading-m">{% trans "Email" %}</h2>

  <p class="govuk-body">
    {% blocktrans %}
      Email us at:
      <a href="mailto:uknsc@dhsc.gov.uk?subject=Beta%20Feedback">uknsc@dhsc.gov.uk</a>.
    {% endblocktrans %}
  </p>
{% endblock %}
