{% extends "base.html" %}
{% load i18n %}

{% block main  %}
  <div class="govuk-width-container">
    {% block back %}{% include 'widgets/back_link.html' %}{% endblock %}

    <main class="govuk-main-wrapper " id="main-content" role="main">

      {% block messages %}
        {% if messages %}
        <ul class="nsc-alerts">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      {% endblock %}

      {% block heading %}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
              {% block page_title %}{% endblock %}
            </h1>
          </div>
        </div>
      {% endblock %}

      {% block body %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          {% block content %}{% endblock %}
        </div>
      </div>
      {% endblock %}

    </main>
  </div>
{% endblock %}
