{% extends "base.html" %}
{% load i18n %}

{% block main  %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">

      {% block messages %}
        <ul class="nsc-alerts">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endblock %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          {% block back %}{% endblock %}

          {% block heading %}
            <h1 class="govuk-heading-l">
              {% block page_title %}{% endblock %}
            </h1>
          {% endblock %}

          {% block content %}{% endblock %}

        </div>
      </div>
    </main>
  </div>
{% endblock %}
