{% extends "base.html" %}
{% load i18n %}

{% block back %}
  {% url 'dashboard' as back_url %}
  {% include 'widgets/back_link.html' %}
{% endblock %}

{% block heading %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {% block title %}
          {% trans 'All Stakeholders' %}
        {% endblock %}
      </h1>
    </div>
    <div class="govuk-grid-column-one-third">
      <a id="edit-link-id" href="{% url 'stakeholder:add' %}" role="button" class="govuk-button" style="float:right">
        {% trans 'Add a new stakeholder' %}
      </a>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="filter-box">
        <form id="stakeholder-filter">

          <h2 class="govuk-heading-m">
            {% trans 'Filter stakeholders by:' %}
          </h2>

          {% include 'widgets/text_input.html' with field=form.name %}
          {% include 'widgets/text_input.html' with field=form.condition %}
          {% include 'widgets/select_input.html' with field=form.country %}

          <button type="submit" class="govuk-button search-b-button govuk-!-margin-right-8">
            {% trans 'Search' %}
          </button>

          <a href="{% url 'stakeholder:list' %}"
             class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">
              {% trans 'Clear search' %}
          </a>

          <button type="submit" id="export-button" name="export" value="export" class="govuk-button search-b-button govuk-!-margin-right-8">
            {% if request.GET %}{% trans 'Export current search results' %}{% else %}{% trans 'Export all stakeholders' %}{% endif %}
          </button>
        </form>
      </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">{% trans 'Name' %}</th>
          <th class="govuk-table__header">{% trans 'Conditions of interest' %}</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        {% for object in object_list %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="{{ object.get_detail_url }}">{{ object.name }}</a>
            </td>
            <td class="govuk-table__cell">
              <ul class="govuk-list govuk-list--bullet">
                {% for policy in object.policies.all|slice:4 %}
                  {% if forloop.counter == 4 %}
                      <li><a href="{{ object.get_detail_url }}">More</a></li>
                  {% else %}
                    <li>{{ policy.name }}</li>
                  {% endif %}
                {% endfor %}
              </ul>
            </td>
          </tr>
          {% empty %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" colspan="3"><p>{%  trans 'No matching stakeholders found.' %}</p></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% if is_paginated %}
        {% include 'widgets/pagination.html' with namespace='stakeholder:list' %}
      {% endif %}
    </div>

  </div>

{% endblock %}
