{% extends "base.html" %}
{% load i18n %}

{% block back %}
  {% trans 'Back to stakeholders' as back_title %}
  {% url 'organisation:list' as back_url %}
  {% include 'widgets/back_link.html' %}
{% endblock %}

{% block title %}
  {% block page_title %}
    {% trans "New stakeholder" %}
  {% endblock %}
{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}

    {{ form.non_field_errors }}

    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    {% include "widgets/text_input.html" with field=form.name %}
    {% include "widgets/text_input.html" with field=form.url %}
    {% include "widgets/radio_buttons.html" with field=form.is_public size='m' %}

    {% for formset in form.formsets %}
      <div id="formset_wrapper" class="fastview formset__root" data-fastview-formset="{{ formset.prefix }}">

        {{ formset.management_form }}

        <fieldset class="govuk-fieldset" id="emptyform_wrapper" style="display: none" data-fastview-formset-template="{{ formset.empty_form.prefix }}">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                {% trans 'Contact' %}
              </h1>
            </legend>
            {% for field in formset.empty_form %}
              <div class="govuk-form-group">
                {% if not field.is_hidden %}
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--{% if label_size %}{{ label_size }}{% else %}s{% endif %}">
                  <label for="{{ field.id_for_label}}">
                      {{ field.label }}
                  </label>
                </legend>
                {% endif %}
                {% if field.errors %}
                  <span id="{{ field.name }}-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">{% trans 'Error' %}:</span> {{ field.errors.0 }}
                  </span>
                {% endif %}
                {% if field.help_text %}
                  <span id="{{ field.name }}-hint" class="govuk-hint">
                    {{ field.help_text }}
                  </span>
                {% endif %}
                {{ field }}
              </div>
            {% endfor %}
          </fieldset>

        {% for formset_form in formset %}
          <fieldset class="govuk-fieldset" data-fastview-formset-form="{{ formset_form.prefix }}">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                {% trans 'Contact' %}
              </h1>
            </legend>
            {% for field in formset_form %}
              <div class="govuk-form-group">
                {% if not field.is_hidden %}
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--{% if label_size %}{{ label_size }}{% else %}s{% endif %}">
                  <label for="{{ field.id_for_label}}">
                      {{ field.label }}
                  </label>
                </legend>
                {% endif %}
                {% if field.errors %}
                  <span id="{{ field.name }}-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">{% trans 'Error' %}:</span> {{ field.errors.0 }}
                  </span>
                {% endif %}
                {% if field.help_text %}
                  <span id="{{ field.name }}-hint" class="govuk-hint">
                    {{ field.help_text }}
                  </span>
                {% endif %}
                {{ field }}
              </div>
            {% endfor %}
          </fieldset>
        {% endfor %}

        <div class="govuk-body">
          <button id="add-contact" type="button" class="govuk-button govuk-button--secondary" data-fastview-formset-add="">
            {% trans 'Add Contact' %}
          </button>
        </div>

      </div>
    {% endfor %}

    {% include "widgets/checkboxes.html" with field=form.policies size='m' %}

    <div class="govuk-body">
      <button type="submit" class="govuk-button" name="save" value="save">
        {% trans 'Save' %}
      </button>
    </div>

  </form>
{% endblock %}
