{% extends "narrow.html" %}
{% load i18n %}

{% block back %}
  {% trans "Back" as back_title %}
  {% url 'review:detail' review.slug as back_url %}
  {% include 'widgets/back_link.html' %}
{% endblock %}

{% block title %}
  {% block page_title %}
    Upload the external review for consultation
  {% endblock %}
{% endblock %}

{% block content %}

  <form enctype="multipart/form-data" method="post">
    {% csrf_token %}

    {% include "forms/multi-file-upload.html" with formset=form.formset existing_documents=review.get_external_review %}

    <button type="submit" class="govuk-button" name="save" value="save">
      {% trans 'Save and continue' %}
    </button>

  </form>

{% endblock %}

