{% extends "narrow.html" %}
{% load i18n %}

{% block back %}
  {% trans "Back" as back_title %}
  {% url 'review:detail' review.slug as back_url %}
  {% include 'widgets/back_link.html' %}
{% endblock %}

{% block title %}
  {% block page_title %}
    Upload response document
  {% endblock %}
{% endblock %}

{% block content %}

  <form enctype="multipart/form-data" method="post">
    {% csrf_token %}

    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    {% if form.errors %}
      {% include "widgets/error_summary.html" %}
    {% endif %}

    {% include "widgets/file_upload.html" with field=form.upload %}

    <button type="submit" class="govuk-button" name="save" value="save">
      {% trans 'Continue' %}
    </button>

  </form>

{% endblock %}

