{% extends "base.html" %}
{% load i18n utils %}

{% block back %}
  {% include 'widgets/back_link.html' with back_url=view.get_success_url %}
{% endblock %}

{% block title %}
  {% block page_title %}
    Update recommendation for {{ review.name }}
  {% endblock %}
{% endblock %}

{% block content %}

  <h2 class="govuk-heading-m">
    {% trans 'Upload supporting documents' %}
  </h2>

  <form enctype="multipart/form-data" method="post">
    {% csrf_token %}

    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    {% if form.errors %}
      {% include "widgets/error_summary.html" %}
    {% endif %}

    {% for field in form %}
      {% include "widgets/file_upload.html" with document=review|get:field.name %}
    {% endfor %}

    <label class="govuk-label">{% trans "Other supporting documents" %}</label>
    {% include "forms/multi-file-upload.html" with formset=form.others_formset existing_documents=review.get_other_review_documents %}

    <button type="submit" class="govuk-button" name="save" value="save">
      {% trans 'Save and continue' %}
    </button>

  </form>

{% endblock %}

