{% extends "base.html" %}
{% load i18n %}

{% block back %}
  {% blocktrans asvar back_title with review.name as name %}
    Back to {{ name }}
  {% endblocktrans %}
  {% url 'review:detail' review.slug as back_url %}
  {% include 'widgets/back_link.html' %}
{% endblock %}

{% block title %}
  {% block page_title %}
    Add relevant documents
  {% endblock %}
{% endblock %}

{% block content %}

  <form method="post">
    {% csrf_token %}

    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    {{ form.non_field_errors }}

    {% include "widgets/text_input.html" with field=form.name %}
    {% include "widgets/file_upload.html" with field=form.document %}
    {% include "widgets/radio_buttons.html" with field=form.is_public %}

    <button type="submit" class="govuk-button" name="save" value="save">
      {% trans 'Save and continue' %}
    </button>

  </form>

{% endblock %}

