{% extends "base.html" %}
{% load i18n %}

{% block back %}
  {% trans "Back to policy" as back_title %}
  {% url 'review:list' as back_url %}
  {% include 'widgets/back_link.html' %}
{% endblock %}

{% block title %}
  {% block page_title %}
    New review
  {% endblock %}
{% endblock %}

{% block content %}

  <form method="post">
    {% csrf_token %}

    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    {{ form.non_field_errors }}

    {% include "widgets/file_upload.html" with field=form.document %}
    {% include "widgets/text_input.html" with field=form.summary %}
    {% include "widgets/radio_buttons.html" with field=form.recommendation size='m' %}

    <button type="submit" class="govuk-button" name="save" value="save">
      {% trans 'Save and continue' %}
    </button>

  </form>

{% endblock %}

