{% extends "narrow.html" %}
{% load i18n %}

{% block back %}
  {% include 'widgets/back_link.html' %}
{% endblock %}

{% block title %}
  {% block page_title %}
    {% trans "Enter your email address" %}
  {% endblock %}
{% endblock %}

{% block content %}
  <p class="govuk-body">
    {% blocktrans %}
      You're subscribing to get email notifications about:
    {% endblocktrans %}
  </p>

  <ul class="govuk-list govuk-list--bullet">
    {% for p in form.policies %}
      {% if p.data.selected %}<li>{{ p.choice_label }}</li>{% endif %}
    {% endfor %}
  </ul>

  <p class="govuk-body">
    {% blocktrans %}
      UK National Screening Committee recommendations.
    {% endblocktrans %}
  </p>

  <p class="govuk-body">
    {% blocktrans %}
      You'll get an email when the UK NSC starts or ends a public consultation on the condition(s).
    {% endblocktrans %}
  </p>

  <form method="post">
    {% csrf_token %}

    {% if form.errors %}
      {% include "widgets/error_summary.html" %}
    {% endif %}

    <div style="display: none">{{ form.policies }}</div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        {% include "widgets/text_input.html" with field=form.email %}
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        {% include "widgets/text_input.html" with field=form.email_confirmation %}
      </div>
    </div>

    <div class="govuk-body">
      <button type="submit" class="govuk-button" name="save" value="save">
        {% trans 'Continue' %}
      </button>
    </div>

    <p class="govuk-body">
      {% blocktrans with privacy_policy_url="https://www.gov.uk/government/organisations/uk-national-screening-committee/about/personal-information-charter" %}
        We wont share your email address with anyone. Read our
        <a class="govuk-link" href="{{ privacy_policy_url }}" target="_blank">privacy notice</a>.
      {% endblocktrans %}
    </p>
  </form>
{% endblock %}
