{% extends "narrow.html" %}
{% load i18n %}

{% block content %}
  <form method="post">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <div style="display: none">{{ form.policies }}</div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        {% include "widgets/text_input.html" with field=form.email %}
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        {% include "widgets/text_input.html" with field=form.email_confirmation %}
      </div>
    </div>

    <div class="govuk-body">
      <button type="submit" class="govuk-button" name="save" value="save">
        {% trans 'Continue' %}
      </button>
    </div>

  </form>
{% endblock %}
