{% extends "base.html" %}
{% load i18n %}

{% block body_class %}subscription-management{% endblock %}

{% block back %}
  {% url "subscription:landing" as back_url %}
  {% include 'widgets/back_link.html' %}
{% endblock %}

{% block title %}
  {% block page_title %}
    {% trans "Subscribe to UK NCS updates" %}
  {% endblock %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">
        {% blocktrans %}
          Choose which condition(s) you are interested in from the list below. Tick the box in the top left
          corner of the list if you want to choose all the conditions on  the page. You can move between pages
          using the links at the bottom of the list.
        {% endblocktrans %}
      </p>
      <p class="govuk-body">
        {% blocktrans %}
          Then click the button to continue.
        {% endblocktrans %}
      </p>
      <p class="govuk-body">
        {% blocktrans %}
          You will then be sent email updates when the UK NSC starts ot ends the public consultation on the
          condition.
        {% endblocktrans %}
      </p>
      <p class="govuk-body">
        {% blocktrans %}
          You will receive an email confirming which condition(s) you have subscribed to. This will contain
          a link to manage or cancel your subscription.
        {% endblocktrans %}
      </p>
    </div>
  </div>

  {{ form.non_field_errors }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="filter-box">
        <form>
          <h2 class="govuk-heading-m">{% trans "Filter conditions by" %}:</h2>

          <div class="govuk-form-group">
            <label class="govuk-label" for="id_name"><b>{% trans "Condition name" %}</b></label>
            <input type="text" name="name" class="govuk-input" id="id_name">
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby=" ">
              <label class="govuk-label" for="id_name"><b>{% trans "Who the condition affects" %}</b></label>
              <div class="govuk-radios--small">

                <div class="govuk-radios__item">
                  <input type="radio" name="affects" class="govuk-radios__input" id="id_affects_0" value="antenatal">
                  <label class="govuk-label govuk-radios__label" for="id_affects_0">{% trans "Antenatal" %}</label>
                </div>

                <div class="govuk-radios__item">
                  <input type="radio" name="affects" class="govuk-radios__input" id="id_affects_1" value="newborn">
                  <label class="govuk-label govuk-radios__label" for="id_affects_1">{% trans "Newborn" %}</label>
                </div>

                <div class="govuk-radios__item">
                  <input type="radio" name="affects" class="govuk-radios__input" id="id_affects_2" value="child">
                  <label class="govuk-label govuk-radios__label" for="id_affects_2">{% trans "Child" %}</label>
                </div>

                <div class="govuk-radios__item">
                  <input type="radio" name="affects" class="govuk-radios__input" id="id_affects_3" value="adult">
                  <label class="govuk-label govuk-radios__label" for="id_affects_3">{% trans "Adult" %}</label>
                </div>

                <div class="govuk-radios__item">
                  <input type="radio" name="affects" class="govuk-radios__input" id="id_affects_4" value="all">
                  <label class="govuk-label govuk-radios__label" for="id_affects_4">{% trans "All ages" %}</label>
                </div>

              </div>
            </fieldset>
          </div>

          <button type="submit" class="govuk-button search-b-button govuk-!-margin-right-8">
            Search
          </button>

          <a href="{{ request.path }}" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">
              Clear search
          </a>
        </form>
      </div>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <form
        method="{% if subscription %}post{% else %}get{% endif %}"
        action="{% if not subscription %}{% url "subscription:public-subscribe" %}{% endif %}"
      >
        {% if subscription %}{% csrf_token %}{% endif %}

        <table class="govuk-table policy-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header">
                <div class="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input type="checkbox" name="policies" class="govuk-checkboxes__input" id="id_policies_all" value="all">
                    <label class="govuk-label govuk-checkboxes__label" for="id_policies_all"><b>{% trans "Condition" %}</b></label>
                  </div>
                </div>
              </th>
              <th class="govuk-table__header">{% trans "Who it affects" %}</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for policy in form.fields.policies.choices.queryset %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <div class="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input type="checkbox" name="policies" class="govuk-checkboxes__input" id="id_policies_{{ policy.id }}" value="{{ policy.id }}">
                    <label class="govuk-label govuk-checkboxes__label" for="id_policies_{{ policy.id }}">{{ policy.name }}</label>
                  </div>
                </div>
              </td>
              <td class="govuk-table__cell">{{ policy.get_ages_display }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="govuk-body">
          <button type="submit" class="govuk-button" name="save" value="save">
            {% trans 'Continue' %}
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
