{% extends "narrow.html" %}
{% load i18n %}

{% block title %}{% trans "Unsubscribed" %}{% endblock %}

{% block content %}
  <div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
      You've unsubscribed from UK NSC updates
    </h1>
  </div>

  <p class="govuk-body">
    {% blocktrans %}
      You will no longer receive emails relating to any UK NSC recommendations.
    {% endblocktrans %}
  </p>

  <p class="govuk-body">
    {% url "subscription:public-start"  as resub_url %}
    {% blocktrans %}
      You can <a href="{{ resub_url }}">subscribe again</a> in future if you want to.
    {% endblocktrans %}
  </p>
{% endblock %}
