{% extends "narrow.html" %}
{% load i18n %}

{% block back %}
  {% url "subscription:landing" as back_url%}
  {% include 'widgets/back_link.html' %}
{% endblock %}

{% block title %}
  {% block page_title %}
    {% trans "Subscribe" %}
  {% endblock %}
{% endblock %}

{% block content %}
  <p class="govuk-body">
    {% blocktrans %}
      Thank you for subscribing to receive updated on UK National Screening Committee (UK NSC)
      consultations. Please provide your email address below
    {% endblocktrans %}
  </p>

  <p class="govuk-body">
    {% blocktrans %}
      A member of the UK Secretariat will contact you within 3 working days.
    {% endblocktrans %}
  </p>

  <form method="post">
    {% csrf_token %}

    <div class="govuk-grid-row">
      <div class="title-field">
        {% include "widgets/text_input.html" with field=form.title %}
      </div>
      <div class="first-name-field">
        {% include "widgets/text_input.html" with field=form.first_name %}
      </div>
      <div class="last-name-field">
        {% include "widgets/text_input.html" with field=form.last_name %}
      </div>
    </div>

    {% include "widgets/text_input.html" with field=form.organisation %}
    {% include "widgets/text_input.html" with field=form.email %}
    {% include "widgets/text_input.html" with field=form.email_confirmation %}

    <button type="submit" class="govuk-button" name="save" value="save">
      {% trans 'Continue' %}
    </button>

    <p class="govuk-body">
      {# We need to inject the real privacy policy url here when we have it #}
      {% blocktrans with privacy_policy_url="/privacy-policy" %}
        We wont share your email address with anyone. Read our
        <a class="govuk-link" href="{{ privacy_policy_url }}" target="_blank">privacy policy</a> (opens in a new tab).
      {% endblocktrans %}
    </p>
  </form>
{% endblock %}
