{% extends "narrow.html" %}
{% load i18n %}

{% block back %}
  {% include 'widgets/back_link.html' with back_url="/" %}
{% endblock %}

{% block page_title %}
  {% block title %}
    {% trans "Choose your subscription type" %}
  {% endblock %}
{% endblock %}

{% block content %}
  <p class="govuk-body">
    {% blocktrans %}
      If you are a health professional or subscribing on behalf of an organisation:
    {% endblocktrans %}
  </p>
  <p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-4">
    <a class="govuk-button govuk-!-margin-bottom-0" href="{% url "subscription:stakeholder-start" %}">
      {% trans "Subscribe as a professional or organisation" %}
    </a>
  </p>
  <p class="govuk-body">
    {% blocktrans %}
      If you are a member of the public with a personal interest in a screening topic:
    {% endblocktrans %}
  </p>
  <p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-4">
    <a class="govuk-button govuk-!-margin-bottom-0" href="{% url "subscription:public-start" %}">
      {% trans "Subscribe as a member of the public" %}
    </a>
  </p>
  <p class="govuk-body">
    {% blocktrans %}
      For health professionals or organisations:
    {% endblocktrans %}
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{% blocktrans %}we will email you when the UK NSC starts a public consultation on the topic(s) you subscribe to.{% endblocktrans %}</li>
    <li>{% blocktrans %}you can have your name or organisation listed as a stakeholder on the page of the topic(s) you subscribe to.{% endblocktrans %}</li>
  </ul>
  <p class="govuk-body">
    {% blocktrans %}
      For members of the public:
    {% endblocktrans %}
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{% blocktrans %}we will email you when the UK NSC starts a public consultation on the topic(s) you subscribe to.{% endblocktrans %}</li>
  </ul>

{% endblock %}
