// Alerts are not included in the current GDS but there are several proposals
// in the community backlog, https://github.com/alphagov/govuk-design-system-backlog/issues/2
@use '~govuk-frontend/dist/govuk' as govuk;
ul.nsc-alerts {

  font-family: 'Inter UI', sans-serif;
  -webkit-font-smoothing: antialiased;

  list-style: none;
  margin: 0 0 govuk.govuk-spacing(1) 0;
  padding: govuk.govuk-spacing(0);

  li {
    background-color: #2cc36b;
    padding: govuk.govuk-spacing(2);
  }
}

.nsc-message-error {
  border: thick solid govuk.govuk-colour('red');
  color: govuk.govuk-colour('red');
  padding: govuk.govuk-spacing(2);
}

.nsc-message-success {
  border: thick solid govuk.govuk-colour('green');
  color: govuk.govuk-colour('green');
  padding: govuk.govuk-spacing(2);
}

.nsc-open-for-comment {
  border: thick solid govuk.govuk-colour('blue');

  .govuk-warning-text__icon {
    background-color: govuk.govuk-colour('blue');
    border-color: govuk.govuk-colour('blue');
    left: govuk.govuk-spacing(2);
  }

  div {
    padding-left: govuk.govuk-spacing(9);
  }
}
