{% extends "narrow.html" %}
{% load i18n %}

{% block back %}
  {% url 'condition:detail' condition.slug as back_url %}
  {% include 'widgets/back_link.html' %}
{% endblock %}

{% block title %}
  {% trans 'Submit comments during the public consultation' as action %}
  {{ condition.name }} -- {{ action }}
{% endblock %}

{% block page_title %}
  <span class="govuk-caption-l">{{ condition.name }}</span>
  {% trans 'Submit comments during the public consultation' %}
{% endblock %}

{% block content %}

  <p class="govuk-body">
  {% blocktrans %}
  If you are a health professional or responding on behalf of an organisation:
  {% endblocktrans %}
  </p>

  {% url 'condition:stakeholder-comment' condition.slug as url %}
  {% blocktrans %}
    <a class="govuk-button" href="{{ url }}">Respond as a professional or organisation</a>
  {% endblocktrans %}

  <p class="govuk-body">
  {% blocktrans %}
  If you are responding in any other capacity:
  {% endblocktrans %}
  </p>

  {% url 'condition:public-comment' condition.slug as url %}
  {% blocktrans %}
    <a class="govuk-button" href="{{ url }}">Respond as a member of the public</a>
  {% endblocktrans %}


  <h2 class="govuk-heading-m">
    {% trans 'How consultations work' %}
  </h2>

  <p class="govuk-body">
    {% blocktrans %}
    Find out more about the
    <a href="https://www.gov.uk/government/publications/uk-nsc-evidence-review-process">
      UK NSC's consultation process
    </a>.
    {% endblocktrans %}
  </p>

  <p class="govuk-body">
    {% blocktrans %}
    Responses provided to this consultation may be published according to our
        <a href="https://www.gov.uk/guidance/uk-nsc-consultations-privacy-notice">privacy notice</a>.
    {% endblocktrans %}
  </p>

  <p class="govuk-body">
    {% blocktrans %}
    For help submitting a consultation, contact the <a href="mailto:screeninginformation@dhsc.gov.uk">screening helpdesk</a>.
    {% endblocktrans %}
  </p>

{% endblock %}
