{% extends "narrow.html" %}
{% load i18n %}

{% block back %}
  {% url 'condition:detail' condition.slug as back_url %}
  {% include 'widgets/back_link.html' %}
{% endblock %}

{% block title %}
  {% trans 'Submit comments during the public consultation' as action %}
  {{ condition.name }} -- {{ action }}
{% endblock %}

{% block page_title %}
  <span class="govuk-caption-l">{{ condition.name }}</span>
  {% trans 'Submit comments during the public consultation' %}
{% endblock %}

{% block content %}
  <p class="govuk-body">
    {% blocktrans with name=condition.name start=review.consultation_start_display end=review.consultation_end_display %}
    A public consultation for {{ name }} opened from {{ start }} until {{ end }}.
    Comments received after this time will not be considered in the consultation process.
    {% endblocktrans %}
  </p>

  <h3 class="govuk-heading-s">
    {% trans 'Public:' %}
  </h3>

  <p class="govuk-body">
  {% blocktrans %}
  Members of the public, such as patients and family who have experienced the condition,
  are welcome to submit comments on the condition during the consultation.
  {% endblocktrans %}
  </p>

  <p class="govuk-body">
  {% blocktrans %}
  These comments will be reviewed by the UK NSC along with the scientific evidence and
  comments from stakeholders, including charities and researchers.
  {% endblocktrans %}
  </p>

  <p class="govuk-body">
  {% url 'condition:public-comment' condition.slug as url %}
  {% blocktrans %}
  Complete the <a href="{{ url }}">public comment form</a> to take part.
  {% endblocktrans %}
  </p>

  <h3 class="govuk-heading-s">
    {% trans 'Stakeholders:' %}
  </h3>

  <p class="govuk-body">
    {% trans 'Stakeholders are often apart of organisations associated with the conditions.' %}
  </p>

  <p class="govuk-body">
    {% blocktrans with review.get_evidence_review_url as url %}
      You can take part in a consultation in two ways, first download the
      <a href="{{ url }}">evidence review document</a> and then either:
    {% endblocktrans %}
  </p>

  <div class="govuk-body">
    <ol>
      <li>
        {% blocktrans with url=review.get_submission_form_url end=review.consultation_end_display %}
        Download and complete the <a href="{{ url }}">response form</a>, and email it to
        <a href="mailto:screening.evidence@nhs.net">screening.evidence@nhs.net</a> before {{ end }}.
        {% endblocktrans %}
      </li>
      <li>
        {% url 'condition:stakeholder-comment' condition.slug as url %}
        {% blocktrans %}
          Send general comments using the <a href="{{ url }}">online form</a>.
        {% endblocktrans %}
      </li>
    </ol>
  </div>

  <h2 class="govuk-heading-m">
    {% trans 'How consultations work' %}
  </h2>

  <p class="govuk-body">
    {% blocktrans %}
    Find out more about the consultation process by reading the
    <a href="https://www.gov.uk/government/publications/uk-nsc-evidence-review-process">
      UK NSC's evidence review process
    </a>.
    {% endblocktrans %}
  </p>

  <p class="govuk-body">
    {% blocktrans %}
    Responses provided to this consultation may be published according to our confidentiality policy.
    {% endblocktrans %}
  </p>

  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        {% trans 'Read the UK NSC confidentiality policy.' %}
      </span>
    </summary>
    <div class="govuk-details__text">
      <p>
        Information provided in response to this consultation, including personal information,
        may be subject to publication or release to other parties or to disclosure in accordance
        with the access to information regimes (these are primarily the Freedom of Information
        Act 2000, the Data Protection Act 1998, and the Environmental Information Regulations
        2004). If you want information, including personal data that you provide to be treated
        as confidential, please be aware that, under the FOIA, there is a statutory Code of
        Practice with which public authorities must comply and which deals, amongst other things,
        with obligations of confidence.
      </p>
      <p>
        In view of this it would be helpful if you could explain to us why you regard the
        information you have provided as confidential. If we receive a request for disclosure
        of the information we will take full account of your explanation, but we cannot give an
        assurance that confidentiality can be maintained in all circumstances. An automatic
        confidentiality disclaimer generated by your IT system will not, of itself, be regarded
        as binding on the UK National Screening Committee.
      </p>
      <p>
        Any request for information to be treated in confidence will be taken into consideration
        in the publication of responses to the consultation. The UK National Screening Committee
        intends to publish all responses following the closure of the consultation period, however
        we will not publish responses from respondents who request that any of the information in
        their response, including personal data, should be handled in confidence. The UK National
        Screening Committee reserves the right not to publish or take into account any
        representations which are openly offensive or defamatory.
      </p>
    </div>
  </details>

  <div class="govuk-inset-text">
    {% blocktrans %}
    Helpdesk phone number: 020 3682 0890
    {% endblocktrans %}
  </div>
{% endblock %}
