{% extends "base.html" %}
{% load i18n %}

{% block back %}
  {% url 'home' as back_url %}
  {% include 'widgets/back_link.html' %}
{% endblock %}

{% block title %}
  {% block page_title %}UK NSC Recommendations{% endblock %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="filter-box">
        <form>

          <h2 class="govuk-heading-m">
            {% trans 'Filter conditions by:' %}
          </h2>

          {% include 'widgets/text_input.html' with field=form.name %}
          {% include 'widgets/radio_buttons.html' with field=form.affects %}
          {% include 'widgets/radio_buttons.html' with field=form.screen %}

          <button type="submit" class="govuk-button search-b-button govuk-!-margin-right-8">
            {% trans 'Search' %}
          </button>

          <a href="{% url 'condition:list' %}"
             class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">
              {% trans 'Clear search' %}
          </a>

        </form>
      </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">{% trans 'Condition' %}</th>
          <th class="govuk-table__header">{% trans 'Who it affects' %}</th>
          <th class="govuk-table__header">{% trans 'Screening recommended' %}</th>
          <th class="govuk-table__header">{% trans 'Public comments' %}</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        {% for object in object_list %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a
                href="{{ object.get_public_url }}">{{ object.name }}</a></td>
            <td class="govuk-table__cell">{{ object.ages_display }}</td>
            <td class="govuk-table__cell">{{ object.recommendation_display }}</td>
            <td class="govuk-table__cell">
              {% if object.reviews_in_consultation %}
                <strong class="govuk-tag govuk-tag--blue">
                  {% trans 'OPEN' %}
                </strong>
              {% endif %}
            </td>
          </tr>
          {% empty %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" colspan="4"><p>{%  trans 'No matching conditions found.' %}</p></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% if is_paginated %}
        {% include 'widgets/pagination.html' %}
      {% endif %}
    </div>

  </div>

{% endblock %}
