{% extends "narrow.html" %}
{% load i18n %}

{% block back %}
  {% include 'widgets/back_link.html' %}
{% endblock %}

{% block title %}
  {% block page_title %}
    {{ policy.name }}
  {% endblock %}
{% endblock %}

{% block content %}

  {% if current_review %}
    <div class="govuk-warning-text govuk-body nsc-open-for-comment">
      <div class="govuk-!-font-weight-bold">
        {% trans 'We are currently accepting public comments on this condition.' %}
      </div>
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <div class="govuk-!-font-weight-bold">
        <a href="{% url 'condition:consultation' policy.slug %}">
          {% blocktrans with name=policy.name.lower %}
          Submit comments on {{ name }}
          {% endblocktrans %}
        </a>
      </div>
      <div>
        {% blocktrans with closing_date=current_review.consultation_end_display %}
          Closing date: {{ closing_date }}.
        {% endblocktrans %}
      </div>
      {% if current_review.nsc_meeting_date %}
        <div>
          {% blocktrans with review_date=current_review.nsc_meeting_date_display %}
            Scheduled UK NSC meeting date: {{ review_date }}.
          {% endblocktrans %}
        </div>
      {% endif %}
    </div>
  {% endif %}

  {% include "policy/public/condition.html" %}
  {% include "policy/public/summary.html" %}
  {% include "policy/public/documents.html" %}
  {% include "policy/public/review_cycle.html" %}
  {% include "policy/public/stakeholders.html" %}
{% endblock %}

