{% extends "base.html" %}
{% load i18n %}

{% block back %}
  {% include 'widgets/back_link.html' with back_url="https://www.gov.uk/government/organisations/uk-national-screening-committee" %}
{% endblock %}

{% block title %}{% trans "Recommendations" %}{% endblock %}
{% block page_title %}UK NSC Recommendations{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">
        {% blocktrans %}
        This list summarises whether population screening is currently recommended
        for a condition or not, and if it is open to public comments at this time.
        {% endblocktrans %}
      </p>

      <p class="govuk-body">
        {% blocktrans %}
        Recommendations are reviewed regularly, usually every 3 years. Use the filters
        to read the details of the findings and supporting documents from the most recent review.
        {% endblocktrans %}
      </p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div id="filter-box" class="filter-box">
        <form>

          <h2 class="govuk-heading-m">
            {% trans 'Filter conditions by:' %}
          </h2>

          {% include 'widgets/text_input.html' with field=form.name show_legend=True %}
          {% include 'widgets/radio_buttons.html' with field=form.comments show_legend=True %}
          {% include 'widgets/radio_buttons.html' with field=form.affects show_legend=True %}
          {% include 'widgets/radio_buttons.html' with field=form.screen show_legend=True %}
          {% include 'widgets/checkbox.html' with field=form.archived show_legend=True label="Display archived recommendations" %}

          <button type="submit" class="govuk-button search-b-button govuk-!-margin-right-8">
            {% trans 'Search' %}
          </button>

          <a href="{% url 'condition:list' %}"
             class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">
              {% trans 'Clear search' %}
          </a>

        </form>
      </div>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body">
        <div class="pagination__summary">
          {% with start=page_obj.start_index end=page_obj.end_index count=paginator.count %}
            {% blocktrans %}Showing {{ start }} – {{ end }} of {{ count }} results{% endblocktrans %}
          {% endwith %}
        </div>
      </div>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">{% trans 'Condition' %}</th>
          <th class="govuk-table__header">{% trans 'Who it affects' %}</th>
          <th class="govuk-table__header">{% trans 'Screening recommended' %}</th>
          <th class="govuk-table__header">{% trans 'Public comments' %}</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        {% for object in object_list %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a
                href="{{ object.get_public_url }}">{{ object.name }}</a></td>
            <td class="govuk-table__cell">{{ object.ages_display }}</td>
            <td class="govuk-table__cell {% if object.archived %}archived{% endif %}">
                {{ object.recommendation_display }}
            </td>
            <td class="govuk-table__cell">
              {% if object.reviews_in_consultation %}
                <strong class="govuk-tag govuk-tag">
                  {% trans 'OPEN' %}
                </strong>
              {% endif %}
            </td>
          </tr>
          {% empty %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" colspan="4"><p>{%  trans 'No matching conditions found.' %}</p></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% if is_paginated %}
        {% include 'widgets/pagination.html' %}
      {% endif %}
    </div>

  </div>

{% endblock %}
