{% extends "narrow.html" %}
{% load i18n %}

{% block back %}
  {% url 'condition:consultation' condition.slug as back_url %}
  {% include 'widgets/back_link.html' %}
{% endblock %}

{% block title %}
  {% if form.errors %}
    {% trans 'Error:' %}
  {% endif %}
  {% trans 'Submit your comments'%}
{% endblock %}

{% block page_title %}
  <span class="govuk-caption-l">{{ condition.name }}</span>
  {% trans 'Submit your comments' %}
{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}

    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    {% if form.errors %}
      {% include "widgets/error_summary.html" %}
    {% endif %}

    <h2 class="govuk-heading-m">
      {% trans 'About you' %}
    </h2>

    {% include "widgets/text_input.html" with field=form.name %}
    {% include "widgets/text_input.html" with field=form.email %}

    {% include "widgets/radio_buttons.html" with field=form.publish %}
    {% include "widgets/radio_buttons.html" with field=form.notify %}

    <h2 class="govuk-heading-m">
      {% trans 'Consultation comments' %}
    </h2>

    <p class="govuk-body">
      {% trans 'Provide your views in the following field. Here are some sample questions to help you:' %}
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>{% trans 'How has this condition effected your or your loved ones life?' %}</li>
        <li>{% trans 'Why do you think screening should or should not be recommended?' %}</li>
    </ul>

    {% include "widgets/text_area.html" with field=form.comment word_limit=5000 %}

    <div class="govuk-body">
      <button type="submit" class="govuk-button" name="submit" value="submit">
        {% trans 'Send consultation feedback' %}
      </button>
    </div>

  </form>
{% endblock %}
