{% extends "narrow.html" %}
{% load i18n %}

{% block back %}
  {% url 'condition:consultation' condition.slug as back_url %}
  {% include 'widgets/back_link.html' %}
{% endblock %}

{% block title %}
  {% if form.errors %}
    {% trans 'Error:' %}
  {% endif %}
  {% trans 'Submit your comments'%}
{% endblock %}

{% block page_title %}
  <span class="govuk-caption-l">{{ condition.name }}</span>
  {% trans 'Submit your comments' %}
{% endblock %}

{% block content %}
  <p class="govuk-body">
    {% url "review:review-document-download" current_review.slug "submission_form" as response_form_url %}
    {% blocktrans with end=current_review.consultation_end_display %}
    You can either submit a consultation response using the form below or by downloading the
    <a href="{{ response_form_url }}" target="_blank">response form (Open Document Format, ODF. Opens in a new tab)</a> and emailing it to
    <a href="mailto:screening.evidence@nhs.net">screening.evidence@nhs.net</a> by {{ end }}
    {% endblocktrans %}
  </p>
  <p class="govuk-body">
    {% url "review:review-document-download" current_review.slug "external_review" as url %}
    {% blocktrans with name=current_review.external_review.get_document_type_display %}
    Please read the <a href="{{ url }}">{{ name}}</a> and
    <a target="_blank"  href="https://www.gov.uk/guidance/nhs-population-screening-explained">explanation of screening</a> before making your submission.
    {% endblocktrans %}
  </p>
  <form method="post">
    {% csrf_token %}

    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    {% if form.errors %}
      {% include "widgets/error_summary.html" %}
    {% endif %}

    <h2 class="govuk-heading-m">
      {% trans 'About you' %}
    </h2>

    {% include "widgets/text_input.html" with field=form.name %}
    {% include "widgets/text_input.html" with field=form.email %}
    {% include "widgets/text_input.html" with field=form.organisation %}
    {% include "widgets/text_input.html" with field=form.role %}

    {% include "widgets/radio_buttons.html" with field=form.publish show_legend=True %}
    {% include "widgets/radio_buttons.html" with field=form.behalf show_legend=True %}

    <h2 class="govuk-heading-m">
      {% trans 'Consultation comments' %}
    </h2>

    <p class="govuk-body">
      {% url "review:review-document-download" current_review.slug "submission_form" as response_form_url %}
      {% blocktrans with end=current_review.consultation_end_display %}
      Provide your views in the following field. Alternatively, download and complete the
      <a href="{{ response_form_url }}">response form</a>, and email it to
      <a href="mailto:screening.evidence@nhs.net">screening.evidence@nhs.net</a> before {{ end }}.
      {% endblocktrans %}
    </p>

    <p class="govuk-body">
      {% blocktrans %}
      If your comments relate to specific review sections or page numbers,
      please indicate this in the text,for example [page 3, paragraph 2],
      {% endblocktrans %}
    </p>

    {% include "widgets/text_area.html" with field=form.comment word_limit=5000 %}

    <div class="govuk-body">
      <button type="submit" class="govuk-button" name="submit" value="submit">
        {% trans 'Send consultation feedback' %}
      </button>
    </div>

  </form>
{% endblock %}
