{% load i18n %}

<h2 class="govuk-heading-m">
  {% trans 'Stakeholders interested in' %} {{ policy.name }}
</h2>

<p class="govuk-body">
  {% trans 'These stakeholders have expressed interest in this recommendation and may submit responses to evidence reviews.' %}
</p>

<h3 class="govuk-heading-s">
  {% trans 'List of stakeholders' %}
</h3>

<ul class="govuk-list">
  {% for stakeholder in policy.stakeholder.all %}
    <li>
      <a class="govuk-link" href="{{ stakeholder.url }}">{{ stakeholder.name }}</a>
    </li>
  {% empty %}
    <li>
      {% trans 'There are no stakeholders at this time' %}
    </li>
  {% endfor %}
</ul>

<p class="govuk-body">
  {% blocktrans %}
    If you think your stakeholder should be added, please <a href="">contact us</a>.
    More information for stakeholder can be found in appendix C of
    the <a href="">UK NSC evidence review process</a>.
  {% endblocktrans %}
</p>
