{% extends "base.html" %}
{% load i18n %}

{% block back %}
  {% url 'condition:consultation' condition.slug as back_url %}
  {% include 'widgets/back_link.html' %}
{% endblock %}

{% block title %}
  {% trans 'Submit your consultation comments' as action %}
  {{ condition.name }} -- {{ action }}
{% endblock %}

{% block page_title %}
  <span class="govuk-caption-l">{{ condition.name }}</span>
  {% trans 'Submit your consultation comments' %}
{% endblock %}

{% block content %}

  <h2 class="govuk-heading-m">
    {% trans 'About you' %}
  </h2>

  <form method="post">
    {% csrf_token %}

    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    {{ form.non_field_errors }}

    {{ form.errors }}

    {% include "widgets/text_input.html" with field=form.name %}
    {% include "widgets/text_input.html" with field=form.email %}
    {% include "widgets/text_input.html" with field=form.organisation %}
    {% include "widgets/text_input.html" with field=form.role %}
    {% include "widgets/radio_buttons.html" with field=form.publish size='m' %}

    <h2 class="govuk-heading-m">
      {% trans 'Consultation comments' %}
    </h2>

    <p class="govuk-body">
      {% url 'condition:evidence-review' condition.slug as url %}
      {% blocktrans %}
        You can input your feedback directly into the box below or download and complete the
        <a href="">response form</a>, and email it to
        <a href="mailto:screening.evidence@nhs.net">screening.evidence@nhs.net</a>.
      {% endblocktrans %}
    </p>

    <p class="govuk-body">
      {% blocktrans %}
        If your comments relate to specific review sections or page numbers,
        please indicate this in the text. e.g [page 3, paragraph 2] ...
      {% endblocktrans %}
    </p>

    {% include "widgets/character_count.html" with field=form.comments %}

    <div class="govuk-body">
      <button type="submit" class="govuk-button" name="submit" value="submit">
        {% trans 'Send consultation feedback' %}
      </button>
    </div>

  </form>
{% endblock %}
