{% extends "base.html" %}
{% load i18n %}

{% block back %}
  {% url 'condition:submission' condition.slug as back_url %}
  {% include 'widgets/back_link.html' %}
{% endblock %}

{% block title %}
  {% block page_title %}
    {% trans 'Consultation comments submitted' %}
  {% endblock %}
{% endblock %}

{% block content %}
  <p class="govuk-body">
    {% blocktrans with condition.name as name %}
    Thank you for your comments on this consultation for {{ name }}.
    {% endblocktrans %}
  </p>

  <h2 class="govuk-heading-m">
    {% trans 'What happens next' %}
  </h2>

  <p class="govuk-body">
    {% blocktrans with condition.end as end %}
    This consultation closes on {{ end }}. Your comments will be
    reviewed alongside others received in this consultation.
    {% endblocktrans %}
  </p>

  <p class="govuk-body">
    <a href="{% url 'condition:detail' condition.slug %}">
      {% blocktrans with condition.name as name %}
        {{ name }} policy page
      {% endblocktrans %}
    </a>
  </p>

  <p class="govuk-body">
    <a href="{% url 'condition:list' %}">
      {% trans 'List of all current UK NSC recommendations' %}
    </a>
  </p>

  <p class="govuk-body">
    <a href="">
      {% trans 'What do you think of this service?' %}
    </a>
    {% trans '(takes 2 minutes)' %}
  </p>
{% endblock %}
