{% load i18n %}

<h2 class="govuk-heading-m">
  {% trans 'UK NSC screening recommendation' %}
  <span class="govuk-caption-m">
    {% blocktrans with date=policy.latest_review.review_end|date:"M Y" %}
      Based on the last UK NSC review of this condition that occurred in {{ date }}.
    {% endblocktrans %}
  </span>
</h2>

<div class="govuk-body">
  {% if policy.recommendation %}
    <div class="nsc-message-success">
      <strong>{% trans 'Screening for this condition is recommended.' %}</strong>
    </div>
  {% else %}
    <div class="nsc-message-error">
      <strong>{% trans 'Screening is not currently recommended for this condition.' %}</strong>
    </div>
  {% endif %}
</div>

{% if policy.summary_html %}
  {{ policy.summary_html|safe }}
{% else %}
  <p class="govuk-body">
     {% trans 'There is no summary of the review available at this time,' %}
  </p>
{% endif %}
