name: Tests

# Test phe nsc-recommendationsp

on:
  push:
  pull_request:

jobs:
  test-backend:
    name: phe nsc-recommendationsp backend
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:10.8
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: test
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

      redis:
        image: redis
        ports:
          - 6379:6379

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest-black==0.3.12
          pip install -r requirements-dev.txt
      - name: Test
        run: |
          pytest
        env:
          DJANGO_CONFIGURATION: Test
          DATABASE_ENGINE: postgresql
          DATABASE_NAME: test
          DATABASE_HOST: localhost
          DATABASE_USER: postgres
          DATABASE_PASSWORD: postgres
          REDIS_SERVICE_HOST: localhost
